.menu_container {
  /* background-color: #100f0f; */
  background: linear-gradient(#100f0f, #2c0e0e);
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-bottom: 5px solid rgb(169, 96, 57); */
}
.menu_head {
  color: white !important;
  font-size: 3.5rem !important;
  letter-spacing: 5px;
  margin-bottom: 4% !important;
  font-family: "Inspiration", cursive;
}
.menu {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem 7rem;
}
@media only screen and (max-width: 1425px) {
  .menu {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
}
@media only screen and (max-width: 1069px) {
  .menu {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2rem 5rem;
  }
}
@media only screen and (max-width: 992px) {
  .menu_container {
    height: 850px;
  }
}
@media only screen and (max-width: 768px) {
  .menu {
    width: 61%;
    grid-template-columns: repeat(auto-fit, minmax(181px, 1fr));
    grid-gap: 2rem 2rem;
  }
}
@media only screen and (max-width: 650px) {
  .menu {
    width: 61%;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 2rem 2rem;
  }
}

@media only screen and (max-width: 478px) {
  .menu_container {
    height: 1300px;
  }
  .menu_head {
    font-size: 2.5rem !important;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem 1rem;
  }
}
